* {
    margin: 0;
}

/*#container {
    padding: 20px;
}*/
#content-wrapper {
    position: relative;
    display: flex;
}
#content {
    position: relative;
}
.something-inside {
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 40px;
}